SUPABASE_PROJECT_ID="ضع-القيمة-هنا"
SUPABASE_PUBLISHABLE_KEY="ضع-القيمة-هنا"
SUPABASE_URL="ضع-القيمة-هنا"
VITE_SUPABASE_PROJECT_ID="ضع-القيمة-هنا"
VITE_SUPABASE_PUBLISHABLE_KEY="ضع-القيمة-هنا"
VITE_SUPABASE_URL="ضع-القيمة-هنا"
